$color-icons: #aaa;
$color-icons-dark: #555;
$color-white: #fff;
$color-black: #000;
$color-notifcation: orange;

$color-rec: red;

$font-size: 1.3rem;
$font-size-frequent: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-small: 1.2rem;

$color-gray-light: #ccc;
