.icons_items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center; }

.fa_icons {
  font-size: 2.4rem; }
  .fa_icons:hover {
    cursor: pointer;
    color: #fff; }

.after {
  color: #fff; }
  .after::after {
    content: "";
    display: block;
    position: relative;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: orange;
    top: -2.4rem;
    left: 1.7rem; }

.copyright {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0;
  gap: 1.4rem;
  justify-content: space-around; }
  .copyright_content {
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    font-size: 1.2rem; }

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid #aaa; }

.division {
  width: 60%;
  border-bottom: 1px solid #aaa; }

.top_left {
  position: relative;
  left: -1rem; }

.top_right {
  position: relative;
  top: -1rem;
  left: 0.4rem; }

.bottom_left {
  position: relative;
  left: -1rem;
  top: 0.1rem; }

.bottom_right {
  position: relative;
  top: -0.9rem;
  left: 0.4rem; }

.hidden {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #aaa;
  width: 100%;
  padding: 1.8rem;
  display: none; }
  .hidden_profile {
    display: flex;
    align-items: center;
    gap: 1.2rem; }
    .hidden_profile-text {
      font-size: 1.6rem;
      color: #fff; }
  .hidden_profile img {
    height: 3.6rem;
    box-sizing: border-box;
    width: 3.6rem;
    border: 1px solid #fff;
    border-radius: 50%; }
  .hidden_icons {
    display: flex;
    align-items: center;
    gap: 2.4rem; }
  @media screen and (max-width: 70em) {
    .hidden {
      display: flex;
      grid-row: 1/2;
      grid-column: 1/-1; } }

.header {
  padding: 2.4rem 2rem 1.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header_primary {
    font-size: 2.2rem;
    font-weight: 700; }
  .header_back {
    color: #555;
    font-size: 2rem; }

.chevron {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; }
  .chevron_back {
    height: 0.1rem;
    width: 1.2rem;
    background-color: #555;
    transform: rotate(-55deg); }
  .chevron_back1 {
    transform: rotate(55deg); }
  .chevron:hover {
    cursor: pointer; }

.chevron1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; }
  .chevron1_back {
    height: 0.1rem;
    width: 1.2rem;
    background-color: #555;
    transform: rotate(-55deg); }
  .chevron1_back1 {
    transform: rotate(55deg); }

.assign {
  display: flex;
  gap: 1.8rem;
  font-size: 1.2rem;
  padding: 1.4rem 0;
  border-bottom: 1px solid #000;
  padding: 1rem 2rem; }
  .assign_after::after {
    content: "";
    display: block;
    position: relative;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: orange;
    top: -1.8rem;
    margin-left: auto; }
  .assign_after:hover {
    cursor: pointer; }
  .assign_inbox {
    color: #aaa; }
    .assign_inbox:hover {
      cursor: pointer;
      color: #000; }

.convo {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1.4rem;
  margin-bottom: 1rem; }
  .convo_text {
    font-size: 1.4rem;
    color: #555; }
  .convo_icons {
    height: 1.8rem;
    width: 1.8rem;
    color: #000; }
    .convo_icons:hover {
      cursor: pointer; }

.left {
  margin-left: auto; }

.chat_section {
  overflow-y: scroll;
  height: 60vh; }

.chat_section::-webkit-scrollbar {
  display: none; }

.msg_active {
  border-radius: 40px 0 0 40px;
  background-color: #fff; }

.msg_details {
  display: flex;
  margin: 0 0 0 0.6rem;
  padding: 1rem;
  border-radius: 40px 0 0 40px;
  transition: all linear 0.2s; }
  .msg_details--after::after {
    content: " ";
    height: 0.7rem;
    width: 0.9rem;
    border-radius: 50%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
    bottom: -3rem;
    background-color: orange; }
  .msg_details--after-white::after {
    background-color: inherit; }
  .msg_details:hover {
    cursor: pointer;
    background-color: #fff; }
  .msg_details-1 {
    width: 100%;
    margin-left: 1.4rem; }
  .msg_details1 {
    display: flex;
    margin: 0 0 0 0.6rem;
    padding: 1rem;
    border-radius: 40px 0 0 40px;
    gap: 1.4rem;
    transition: all linear 0.2s; }

.header_five {
  font-size: 1.4rem;
  font-weight: 300;
  padding: 1rem 0 1rem 2.4rem; }

.user {
  height: 4.2rem;
  display: block;
  width: 4.2rem;
  border-radius: 50%;
  object-fit: cover; }
  .user_details {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .user_details-name {
      font-size: 1.4rem;
      font-weight: 700;
      padding-top: 0.1rem;
      text-wrap: nowrap; }
    .user_details-pno {
      font-size: 1.2rem;
      padding-top: 0.7rem;
      color: #555;
      text-wrap: nowrap;
      overflow: hidden;
      width: 15rem;
      text-overflow: ellipsis; }

.time {
  margin-left: auto;
  padding: 0.5rem 2.4rem 0 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  text-wrap: nowrap; }

.button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 1.8rem;
  position: relative;
  margin-top: auto; }

.new_convo {
  width: 70%;
  padding: 1.8rem 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  border-radius: 7px;
  background-color: #000;
  color: #fff;
  border: none; }
  .new_convo:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9); }

.plus {
  font-size: 1.8rem; }

.section_head {
  grid-column: 1/-1;
  grid-row: 1/2; }

.scroll {
  grid-column: 1/-1;
  grid-row: 2/-1;
  overflow-x: hidden;
  overflow-y: hidden; }
  @media screen and (max-width: 59.375em) {
    .scroll {
      overflow-y: scroll; } }

.scroll::-webkit-scrollbar {
  display: none; }

.header-main {
  padding: 2.4rem 0;
  display: flex; }
  .header-main_img {
    height: 12rem;
    object-fit: cover;
    width: 10rem; }
    .header-main_img:hover {
      cursor: pointer; }
  .header-main--description {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem 2.4rem; }
  @media screen and (max-width: 39.375em) {
    .header-main {
      padding: 1.4rem 0; } }

@keyframes rotate {
  0% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(0); }
  100% {
    transform: rotate(-45deg); } }

.nut {
  height: 2.4rem;
  width: 2.4rem;
  position: relative;
  display: block;
  margin: 1.3rem 2rem 0 auto; }
  .nut:hover {
    cursor: pointer;
    animation: rotate linear 0.2s; }
  @media screen and (max-width: 70em) {
    .nut {
      display: none; } }

.img_description {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 450;
  gap: 0.8rem; }
  .img_description-icon {
    height: 1.8rem;
    width: 1.8rem; }
  .img_description-text--light {
    color: #aaa; }
  .img_description-heading {
    font-size: 4.2rem;
    font-weight: 750; }
    @media screen and (max-width: 39.375em) {
      .img_description-heading {
        font-size: 3rem; } }
  .img_description-rec {
    text-transform: uppercase;
    font-size: 1rem;
    color: red;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: all ease-in 0.1s; }
    .img_description-rec span {
      height: 0.6rem;
      width: 0.6rem;
      background-color: red;
      border-radius: 50%;
      display: block; }
    .img_description-rec:hover {
      background-color: red;
      cursor: pointer;
      color: #fff; }
      .img_description-rec:hover > span {
        background-color: #fff; }
  .img_description-pno {
    font-size: 1.4rem;
    font-weight: 500;
    align-items: flex-end;
    gap: 0.5rem; }
  @media screen and (max-width: 39.375em) {
    .img_description {
      flex-wrap: wrap; } }

.dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  border: 1px solid #000;
  margin-bottom: 0.4rem; }

.task {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: rgba(128, 128, 128, 0.1);
  width: 98%; }
  .task1 {
    padding: 1.2rem 1.6rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 500;
    font-size: 1.2rem; }
    .task1_active {
      border-radius: 6px;
      background-color: #fff; }
      @media screen and (max-width: 70em) {
        .task1_active {
          border-radius: 4px; } }
      @media screen and (max-width: 47.5em) {
        .task1_active {
          border-radius: 50%; } }
    @media screen and (max-width: 47.5em) {
      .task1_text {
        display: none; } }
    .task1:hover {
      cursor: pointer;
      border-radius: 6px;
      background-color: #fff; }
      @media screen and (max-width: 70em) {
        .task1:hover {
          border-radius: 4px; } }
      @media screen and (max-width: 47.5em) {
        .task1:hover {
          border-radius: 50%; } }
    @media screen and (max-width: 70em) {
      .task1 {
        margin: 1rem 0;
        padding: 1.2rem; } }
  .task_icon {
    height: 1.6rem;
    width: 1.6rem; }
  @media screen and (max-width: 70em) {
    .task {
      gap: 0.8rem;
      padding: 0 1rem; } }

.end_call {
  padding: 1.2rem 2.4rem;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  border-radius: 6px;
  margin-left: auto; }
  .end_call:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.8);
    opacity: 0.9; }
  .end_call:hover > .end_call-icon {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.8);
    opacity: 0.9; }
  @media screen and (max-width: 47.5em) {
    .end_call {
      padding: 0;
      background-color: inherit; } }
  .end_call-icon {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%; }

.option {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1.4rem;
  color: #aaa;
  width: 100%;
  border-bottom: 1px solid #ccc; }
  .option_items {
    list-style-type: none;
    text-wrap: nowrap;
    padding: 1.6rem 2rem 0 2rem;
    margin-bottom: -1px;
    text-align: center;
    transition: all 0.5s; }
    .option_items:hover {
      cursor: pointer;
      color: #000;
      background-color: rgba(204, 204, 204, 0.2);
      font-weight: 500;
      border-bottom: 1px solid #999; }
  .option_items.active {
    color: #000;
    font-weight: 500;
    background-color: rgba(204, 204, 204, 0.2);
    border-bottom: 1px solid #999;
    cursor: pointer;
    transition: all 0.5s; }
    .option_items.active::after {
      content: "";
      position: relative;
      display: block;
      height: 0;
      width: 0;
      left: 45%;
      bottom: -1.1rem;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #ccc; }
      @media screen and (max-width: 950px) {
        .option_items.active::after {
          bottom: -1.2rem; } }
      @media screen and (max-width: 650px) {
        .option_items.active::after {
          bottom: -1.4rem;
          left: 40%; } }

.division {
  height: 1px;
  width: 98%;
  background-color: #000;
  font-weight: 600; }

.division1 {
  height: 1px;
  width: 100%;
  background-color: #000;
  position: relative;
  display: block;
  border-radius: 50%; }

.flex {
  display: flex;
  align-items: center;
  padding: 2.4rem 1.6rem 2.4rem 0;
  gap: 2rem;
  flex-wrap: wrap; }
  .flex1 {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem; }
    .flex1:hover {
      cursor: pointer; }
    .flex1_icon {
      height: 1.8rem;
      width: 1.8rem; }
      @media screen and (max-width: 39.375em) {
        .flex1_icon {
          font-size: 1.8rem; } }
    .flex1_heart {
      font-size: 1.6rem; }
    .flex1_button {
      padding: 1rem 0.6rem;
      background-color: #fff;
      outline: none;
      font-size: 1.4rem;
      border: 1.4px solid #000;
      border-radius: 9px;
      transition: all linear 0.06s; }
      .flex1_button:hover {
        cursor: pointer;
        transform: scale(1.01); }
    .flex1_mar {
      margin-left: auto; }
      @media screen and (max-width: 370px) {
        .flex1_mar {
          margin-left: 0; } }

.customer {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  width: 100%;
  height: 100%; }
  .customer_profile {
    border-right: 1px solid #000;
    margin-right: 2.4rem;
    padding-right: 2rem;
    grid-column: 1/2;
    overflow-y: scroll;
    height: 100%; }
    .customer_profile::-webkit-scrollbar {
      display: none; }
    @media screen and (max-width: 59.375em) {
      .customer_profile {
        grid-row: 2/3;
        grid-column: 1/-1;
        border-right: none;
        overflow: hidden; } }
  .customer_orders {
    grid-column: 2/-1;
    overflow-y: scroll;
    height: 100%; }
    .customer_orders::-webkit-scrollbar {
      display: none; }
    @media screen and (max-width: 59.375em) {
      .customer_orders {
        grid-row: 1/2;
        grid-column: 1/-1;
        overflow: hidden; } }
  @media screen and (max-width: 59.375em) {
    .customer {
      display: grid;
      grid-template-rows: auto 1fr;
      height: auto; } }

.flex2 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1.4rem; }
  .flex2_icon {
    height: 1.6rem;
    width: 1.6rem; }
  .flex2_text {
    font-size: 1.4rem; }

.details_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1.8rem; }
  .details_flex-item1--header---four {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
    margin-bottom: 0.5rem; }
  .details_flex-item1--text {
    font-size: 1.3rem;
    color: #000; }
  @media screen and (max-width: 59.375em) {
    .details_flex {
      justify-content: unset;
      gap: 20%; } }

.pop {
  font-size: 1.3rem;
  margin-top: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.8rem; }
  .pop-icon {
    height: 1.6rem;
    width: 1.6rem; }

.flex-recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8rem; }
  .flex-recent_icon {
    height: 1.6rem;
    width: 1.6rem; }
    .flex-recent_icon:hover {
      cursor: pointer; }
  @media screen and (max-width: 59.375em) {
    .flex-recent {
      justify-content: unset;
      gap: 20%; } }

.flex_chat {
  display: flex;
  gap: 1.4rem; }
  .flex_chat-icon {
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 10px;
    background-color: #67674266;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.4rem; }
    .flex_chat-icon:hover {
      cursor: pointer; }
    .flex_chat-icon--orange {
      background-color: #fd7a0fcc; }
    .flex_chat-icon--1 {
      height: 2.4rem;
      width: 2.4rem; }
  .flex_chat-text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem; }
    .flex_chat-text--header {
      font-size: 1.4rem;
      margin-top: 0.4rem;
      font-weight: bold; }
    .flex_chat-text--text1 {
      font-size: 1.2rem;
      color: #aaa;
      font-weight: 400; }

.order {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  margin: 1.6rem 0; }
  .order_flex {
    display: flex;
    align-items: center;
    gap: 0.6rem; }
    .order_flex:hover {
      cursor: pointer; }
    .order_flex-icon {
      height: 1.8rem;
      width: 1.8rem; }
    .order_flex-text {
      font-size: 1.3rem; }
  @media screen and (max-width: 39.375em) {
    .order {
      flex-wrap: wrap;
      gap: 1.2rem; } }

.ordered {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 1.2rem; }
  .ordered_img {
    height: 18rem;
    width: 18rem;
    background-color: #67674266; }
  .ordered_details {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    gap: 2.6rem; }
    .ordered_details-detail1 {
      display: flex;
      flex-direction: column;
      gap: 0.6rem; }
      .ordered_details-detail1--text1 {
        font-size: 1.3rem;
        color: #555;
        font-weight: 400; }
      .ordered_details-detail1--text2 {
        font-size: 1.6rem;
        font-weight: bold; }
      .ordered_details-detail1--text3 {
        font-size: 1.3rem; }

.track {
  display: flex;
  align-items: flex-start;
  gap: 4.8rem;
  font-size: 1.3rem;
  margin-bottom: 2rem; }
  .track_id {
    display: flex;
    flex-direction: column;
    gap: 0.2rem; }
    .track_id-details {
      color: #555;
      font-weight: 300; }
    .track_id-no {
      font-weight: 500; }
    .track_id-icon {
      height: 1.2rem;
      width: 1.2rem;
      margin-left: 0.6rem; }
      .track_id-icon:hover {
        cursor: pointer; }

.connect {
  display: flex;
  width: 100%;
  margin-bottom: 0.8rem; }

.dot1 {
  width: 25%; }
  .dot1 > div {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #67674266; }
  .dot1_orange > div {
    background-color: #fd7a0fcc; }
  .dot1::after {
    content: "";
    position: relative;
    border-top: 1px solid #aaa;
    display: block;
    width: 75%;
    top: -1rem;
    left: 2.6rem; }
  .dot1_nomarg::after {
    border-top: none; }

.delivery {
  display: flex;
  align-items: flex-start;
  gap: 1.8rem;
  margin-right: 3.2rem;
  margin-bottom: 2.4rem; }
  .delivery_details {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    font-size: 1.2rem; }
    .delivery_details-text {
      color: #aaa;
      font-weight: 300; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Figtree", sans-serif;
  overflow-y: hidden;
  font-weight: 500; }
  @media screen and (min-width: 81.25em) {
    html {
      font-size: 65%; } }
  @media screen and (max-width: 77.5em) {
    html {
      font-size: 62.5%; } }
  @media screen and (max-width: 65.625em) {
    html {
      font-size: 56%; } }
  @media screen and (max-width: 59.375em) {
    html {
      font-size: 52%; } }
  @media screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 43.75em) {
    html {
      font-size: 46%; } }

.main {
  display: grid;
  grid-template-columns: 6rem 0.3fr 1fr; }
  @media screen and (max-width: 70em) {
    .main {
      grid-template-rows: 6rem 1fr;
      grid-template-columns: 30% 1fr;
      height: 100vh; } }
  @media screen and (max-width: 59.375em) {
    .main {
      grid-template-columns: 0.4fr 1fr; } }

.icons {
  padding: 1.2rem 0;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
  color: #aaa; }
  @media screen and (max-width: 70em) {
    .icons {
      display: none; } }

.sidebar {
  grid-column: 2/3;
  background-color: rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  animation: side ease-in 1s; }
  @media screen and (max-width: 70em) {
    .sidebar {
      grid-row: 2/3;
      grid-column: 1/2; } }
  @media screen and (max-width: 34.375em) {
    .sidebar {
      display: none !important; } }

@keyframes side {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.home_page {
  grid-column: 3/-1;
  padding: 0 0 0 2.4rem;
  height: 98vh;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  z-index: 10; }
  @media screen and (max-width: 70em) {
    .home_page {
      grid-row: 2/3;
      grid-column: 2/3;
      height: 90vh; } }
  @media screen and (max-width: 34.275em) {
    .home_page {
      grid-column: 1/-1 !important;
      grid-row: 2/3 !important; } }

.sidebar1 {
  background-color: rgba(0, 0, 0, 0.06);
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 999;
  animation: animate ease-in 1s; }

.none {
  display: none; }

@keyframes animate {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }
